.loginbox {

    .ant-input,
    .ant-input-password {
        background: rgba(255, 255, 255, 0);
        border-color: #1890ff;
        color: #fff;
    }

    //修改input框中的placeholder 的样式
    .ant-input::-webkit-input-placeholder {
        // color: #1890ff;
        color: rgba(24, 144, 255, 0.3);
    }

    .anticon.ant-input-password-icon {
        color: #1890ff;
    }

    .captchaBox {
        display: flex;

        .captchaImg {
            margin-left: 20px;
            cursor: pointer;
        }
    }
}